/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    /* border: 0; */
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    /* display:flex;
    justify-content:center; */
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
/* Do we always set the width to 100% at the start? YOU HAVE TO SET MAX-WIDTH*/
* {
    box-sizing: border-box;
    
    /* When I add this, it changes everything, why is that? */
    /* width: 100%; */
}
html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}
h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
/* Your code starts here! */
* {
    /* border: 2px solid blue; */
    /* margin:0; */
    padding:0;
    max-width:100%;
}
body{
    margin: 0% 15%;
    background-color: white;
    /* Why doesn't width work? */
    /* width: 90% */
}

section{
    padding:4% 0;
}

/* header{
    position: fixed;
    display: block;
    width: 70%;
    height: 8%;
    background-color: white;
    top: 0;
    z-index: 1;
} */
nav{
    /* width: 75%;
    text-align: center;
    align-items: center;
    position: relative;
    top: 30%; */
    display:flex;

    justify-content:space-between;
}

.links{
    /* This width will affect how much the links take up in the nav */
    width:75%;
    display:flex;
    justify-content:space-between;
    /* Align items will center items through the x axis */
    align-items:center;
    text-decoration: none;
   /* This isn't changing the color grey, why is that?
    color: grey; */
  }


hr{
    border: 1px solid black;
}

/* Why does this change the color, but not .links? */
header a{
    /* width: 20%;
    margin: 5% 4%; */
    color: grey;
    text-decoration: none;
}
header a:hover{
    color: black;
}

/* This will cause the image not to move */
/* header img{
    position: absolute;
    top: 10%;
    left: 76%;
} */


/* This will change the header logo
.logo{
    width:10%;
  } */

.CTASection{
    display:flex;
    /* padding: 4% 3%; */
    /* margin: 6% 0px; */
    /* position: relative; */
    /* width: 100%; */
    /* margin-bottom: 10%; */
}
/* .CTASection img{
    position: absolute;
    bottom: -6%;
    left: 55%;
} */


.CTA{
    width:65%;
    display:flex;
    justify-content:center;
    align-items: center;
    /* Shouldn't this make the Title and the button flex into a column? */
    flex-flow: column;
    border: 1px solid black;
    font-size: 80px;
    text-align: center;
    /* position: relative; */
    /* right: 23%; */
    /* margin-top: 60px; */
}
.CTASection button{
    /* justify-content:center; */
    /* align-items: center; */
    width: 40%;
    padding: 1% 0px;
    color: grey;
    background-color: white;
    /* position: absolute; */
    /* left: 45%; */
}
.CTASection button:hover{
    color: white;
    background-color: grey;
}

/* This will change how much the circle image takes up, but no need since we already assigned 65% to titles n button */
/* .ctaImg{
    width:40%;
} */


/* This class is given to the top section and the bottom section */
/* Why isn't this putting space around the top and bottom? */
/* Would it be better if I gave each section their own div? */
.wrapper{
    display:flex;
    justify-content:space-around;
    margin: 2% 0;
}


/* No need for this code because it is inline-block and we did all this with one class .wrapper */

/* .content{
    display: inline-block;
    position: relative;
} */
/* .contentCard1, .contentCard2{
    width: 48%;
    display: inline-block;
    margin: 4% 7px;
} */
/* .contentCard3, .contentCard4, .contentCard5{
    width: 32%;
    display: inline-block;
    margin: 4% 4px;
} */

/* Why is this not taking 100% of the width? */
.middle-img {
    display: flex;
    justify-content: center;
    /* align-content: center; */
    /* align-items: center; */
    width: 100%;
}


#contact{
    /* display: inline-block;
    position: relative; */
    display: flex;
    flex-direction: column;
    width: 20%;
    /* margin: 3% 0; */
    line-height: 2;
    /* color: purple; */
    text-decoration: none;
}
#contact a{
text-decoration: none;
}

address{
    margin-top: -16px;
}
.copyright{
    margin-top: 3%;
    text-align: center;
}
footer{
    margin:2% 0;
}

/*media queries here*/
/* Tablet */
@media (max-width: 800px){
    body{
        /* background-color: purple; */
    }
    nav{
      flex-direction:column-reverse;
      align-items:center;
    }
    .links{
      width:100%;
    }
    .logo{
      margin:2% 0;
    }
    .CTASection{
      justify-content:center;
    }
    .ctaImg{
      display:none;
    }
    footer{
      text-align:center;
    }
  }
/* Phone */
  @media (max-width: 500px){
    body{
        /* background-color: blue; */
    }
    
    h1{
      font-size:4rem;
    }
    nav{
      flex-direction:column-reverse;
      align-items:center;
    }
    .links{
      flex-direction:column;
    }

    contentCard1, .contentCard2, .contentCard3, .contentCard4, .contentCard5{
        margin:5% 0;
    }

    .cta{
      flex-direction:column-reverse;
      align-items:center;
    }
    .wrapper{
      flex-direction:column;
      /* How do you add spacing between the items that are flexed if they are in columns? */
      /* margin: 25% 25%; */
    }
    .two, .three{
      width:100%;
    }
    #contact{
      text-align:center;
    }
    footer{
      text-align:center;
    }
  }

